{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ cancel }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item">
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		{% if success %}
			<div class="alert alert-success alert-dismissible">
				<i class="fa-solid fa-check-circle"></i>
				{{ success }}
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			</div>
		{% endif %}

		<div class="card">
			<div class="card-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_status }}</label>
						<div class="col-sm-10">
							<div class="form-check form-switch form-switch-lg">
								<input type="hidden" name="module_login_captcha_status" value="0">
								<input type="checkbox" name="module_login_captcha_status" value="1" id="input-status" class="form-check-input" {% if module_login_captcha_status %} checked {% endif %}>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}
